p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

#glimpse, #license {
  float: left;
}
#header img {
  padding-left: 0;
}
.figure {
  margin: auto;
}

.book-extra #book-source, #book-edit {
  display: none;
}